.leftArrow {
  position: absolute;
  top: 50%;
  left: 20px;
  font-size: 3rem;
  color: rgba(255, 255, 255, 80%);
  cursor: pointer;
}
.rightArrow {
  position: absolute;
  top: 50%;
  right: 20px;
  font-size: 3rem;
  color: rgba(255, 255, 255, 80%);
  cursor: pointer;
}
